<?xml version='1.0' encoding='utf-8'?>
<widget xmlns:cdv="http://cordova.apache.org/ns/1.0" xmlns:vs="http://schemas.microsoft.com/appx/2014/htmlapps" xmlns:gap="http://phonegap.com/ns/1.0" id="io.cordova.BlankCordovaApp1" version="1.0.0.0" xmlns="http://www.w3.org/ns/widgets">
  <name>BlankCordovaApp1</name>
  <description>
    A blank project that uses Apache Cordova to help you build an app that targets multiple mobile platforms: Android, iOS, Windows, and Windows Phone.
  </description>
  <author href="http://cordova.io" email="dev@cordova.apache.org">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <access origin="*" />
  <vs:features />
  <gap:splash src="splash.png" />
  <icon src="splash.png" />
  
  <gap:splash src="ldpi.png" gap:platform="android" gap:qualifier="ldpi" />
  <gap:splash src="mdpi.png" gap:platform="android" gap:qualifier="mdpi" />
  <gap:splash src="hdpi.png" gap:platform="android" gap:qualifier="hdpi" />
  <gap:splash src="xhdpi.png" gap:platform="android" gap:qualifier="xhdpi" />
  <gap:splash src="fr-xhdpi.png" gap:platform="android" gap:qualifier="fr-xhdpi" />
  <gap:splash src="portrait-xxhdpi.png" gap:platform="android" gap:qualifier="port-xxhdpi" />
  <gap:splash src="landscape-xxhdpi.png" gap:platform="android" gap:qualifier="land-xxhdpi" />




</widget>
